/* Coolors Exported Palette - coolors.co/6f1d1b-bb9457-432818-99582a-ffe6a7 */

/* RGB */
$prune: rgba(111, 29, 27, 1);
$deer: rgba(187, 148, 87, 1);
$bistre: rgba(67, 40, 24, 1);
$coconut: rgba(153, 88, 42, 1);
$navajo-white: rgba(255, 230, 167, 1);

$colors:
    $prune,
    $deer,
    $bistre,
    $coconut,
    $navajo-white;
