@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize";
@import "pallette";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Francois+One');

body {
    font-family: 'Didact Gothic', sans-serif;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 41vh);
}

.row {
    @include grid-container;

    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;

    &.flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@for $i from 1 through 6 {
    h#{ $i } {
        font-family: 'Francois One', sans-serif;
    }
}

@for $i from 1 through 4 {
    .margin-top-#{ $i } {
        margin-top: #{ $i }rem;
    }
}

@for $i from 1 through 12 {
    .span-#{ $i } {
        @include grid-column($i)
    }
}

.tone-box {
    // flex: 1;
    font-size: 2em;
    font-weight: bold;
    min-height: 200px;
    padding: 1rem;
    transition: .3s background-color;
}

.note-0 {
    background-color: $prune;
}

$adjusted: 0;

@for $j from 1 through 6 {
    @if $adjusted == 0 {
        $adjusted: adjust-hue($prune, 60deg);
    } @else {
        $adjusted: adjust-hue($adjusted, 45deg);
    }

    .note-#{ $j } {
        background-color: $adjusted;
    }
}
